.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #99b1e6;
  background-color: #fff;
  flex: 0 0 65px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  min-width: 996px;
}

.header__menu {
  display: flex;
  gap: 32px;
}

.header__link {
  display: flex;
  align-items: center;
}
